<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.zhangyinhao1234.study.springboot.dao.UserMapper">
<!-- 自定义返回结果集 -->

    
    <select id="selectAllUser" resultType="com.github.zhangyinhao1234.study.springboot.pojo.UserExample">
     select * from tcm_test_user
    </select>
    
    
</mapper>